
.store-item{
    text-align: center;
    margin-bottom: 30px;
}
.store-item-image{
    margin-bottom: 22px;
}
.store-item-image img{
    width: 60%;
}
.store-item-name{
    font-size: 18px;
    font-weight: bold;
}
.store-item-price{
    margin-bottom: 15px;
}
.store-item-variant-quantity{
    margin-bottom: 5px;
}
.store-item-variant{
    margin-bottom: 5px;
}
.store-item-variant select{
    text-align: center;
}
.store-item-quantity{
    
}
.store-item-quantity input{
    text-align: center;
}
.store-item-button{
    margin-top: 10px;
}