
#developedby{
    margin-top: 20px;
    text-align: center;
    color: #888;
}
#login-box{
    padding: 20px 20px;;
    background-color: #FFF;
    border: 1px solid #ddd;
}
#login-box-title{
    font-family: 'Anton', sans-serif;
    color: #19475D;
    font-size: 24px;
    margin-top: -5px;
    margin-bottom: 15px;
}
#login-box label{
    font-weight: bold;
}
#login-box-additionals{
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
}