/*
<link href="https://fonts.googleapis.com/css?family=Anton|Open+Sans|Questrial" rel="stylesheet">
font-family: 'Anton', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Questrial', sans-serif;
*/
body{
    overflow-y: scroll;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
a{
    color: #3087B1;
}
a:hover{
    color: #19475D;
    text-decoration: none;
}
.dropdown-menu span.fa{
    width: 25px;
}

.section{
    padding: 20px 0 10px 0;
}
.section-title{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 10px;
    color: #684f4f;
    border-bottom: 1px solid #ddd;
}
.section-title h5 b{
    font-size: 18px;
}

.box-title{
    font-family: 'Questrial', sans-serif;
    color: #19475D;
    font-size: 18px;
    margin-bottom: 15px;
}
.box-text{
    font-size: 16px;
}

/* Links */
#links{
    padding-top: 15px;
    margin-bottom: 15px;
}

#links2{
    margin-top: -15px;
    margin-bottom: 5px;
}

/* Filters */
#rowFilters{
    margin-bottom: 15px;
}

/* Table */

.tblTable{
    min-width: 100%;
    width: 100%;
    font-size: 11px;
}
.tblHead{

}
.tblBody{

}
.tblBody .fa{
    width: 26px;
    margin-right: 5px;
}

#btnNew{
    width: 100%;
    margin-top: 25px;
}