
.metro-box {
    float: left;
    width: 100%;
    height: 160px;
    padding: 12px 18px;
    margin-bottom: 15px;
    border-radius: 3px;
    background-color: #888;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.metro-box:hover {
    opacity: 0.8;
}

.metro-box .metro-box-icon {
    height: 80px;
    vertical-align: central;
    text-align: center;
}

.metro-box .metro-box-icon span {
    margin-top: 20px;
    color: #fff;
    font-size: 45px;
}

.metro-box .metro-box-text {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.metro-box .metro-box-text small{
    font-size: 13px;
    text-align: center;
}

.metro-box .metro-box-text a {
    color: #fff;
    text-decoration: none;
}

.metro-box-0 {
    background-color: #0059B2;
}

.metro-box-1 {
    background-color: #BD1E4A;
}

.metro-box-2 {
    background-color: #2674EC;
}

.metro-box-3 {
    background-color: #6CB71E;
}

.metro-box-4 {
    background-color: #DA542D;
}

.metro-box-5 {
    background-color: #623DBD;
}

.metro-box-6 {
    background-color: #005367;
}

.metro-box-7 {
    background-color: #149FAB;
}

.metro-box-8 {
    background-color: #E19D00;
}

.metro-box-x{
    background-color: #5795F0;
}

.metro-box-section{
    clear: both;
    overflow: hidden;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    text-align: left;
    border-radius: 4px 4px 0 0;
}
.metro-box-section .metro-box-icon{
    float: left;
    height: 30px;
}
.metro-box-section .metro-box-text{
    float: left;
    color: #333;
    font-weight: bold;
}